*{
    box-sizing: border-box;
}

body{
    background-color: rgb(200, 200, 200);
}

#mySigninbox{
    background-color: rgb(250, 250, 250);
    margin-top: 20px;
    width: 450px;
    margin-bottom: 50px;
}

#mySigninbox_firebase{
    margin-top: 20px;
    width: 300px;
}

#mySigninbox_other{
    margin-top: 20px;
    width: 300px;
}

#mySeparationLine{
    margin-top: 20px;
    width: 100px;
    text-align: center;
}

#myTitle{
    text-align: center;
}